name: Oopbuy

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install node-fetch

      - name: Run script
        run: node index.js
        env:
          ITEM_IDS: ${{ secrets.ITEM_IDS }}
