name: BesFinds BOT

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      - name: Run bot script
        run: node index.js
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT: ${{ secrets.TELEGRAM_CHAT }}
          REF_ID: ${{ secrets.REF_ID }}
          ITEM_IDS: ${{ secrets.ITEM_IDS }}
          SHEET_WEBHOOK: ${{ secrets.SHEET_WEBHOOK }}
